.redirectComponent {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.redirectComponent > h1 {
    font-family: Arial, sans-serif;
    font-size: 130px;
    color: #333333;
}

.redirectComponent > p {
    font-family: Arial, sans-serif;
    font-size: 36px;
    color: #333333;
}